In [1]:
import pandas as pd
import pyarrow.dataset as ds

In [2]:
from sqlalchemy import create_engine, text
from time import time

In [3]:
# pd.__version__
# pip install fastparquet
# pip install psycopg2
# pip install --upgrade pyarrow pandas
# pip install sqlalchemy --upgrade
# !pip install "numpy<2"
# !pip install --upgrade numexpr bottleneck

# import sys
# !{sys.executable} -m pip install pyarrow

In [4]:
#  reading the parquet file using pandas

taxi_data = pd.read_parquet("yellow_tripdata_2025-01.parquet", engine='fastparquet')
taxi_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0

In [5]:
import sqlalchemy
import pandas as pd
import psycopg2

print("SQLAlchemy:", sqlalchemy.__version__)
print("pandas:", pd.__version__)
print("psycopg2:", psycopg2.__version__)

SQLAlchemy: 2.0.40
pandas: 2.2.3
psycopg2: 2.9.10 (dt dec pq3 ext lo64)

In [6]:
# using pyarrow.dataset to read the parquet file, cos of the iterations
# later code later converted this to pandas

taxi_df = ds.dataset("yellow_tripdata_2025-01.parquet", format="parquet")

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
engine.connect()

In [9]:
# !pip install --upgrade sqlalchemy

In [14]:
# query = """
# SELECT 1 AS number;
# """
query = """
SELECT * FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
        schemaname != 'information_schema'
"""
pd.read_sql(query, engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False

In [15]:
# query = """
# SELECT 1 AS number;
# """
query = """
SELECT * FROM yellow_taxi_data LIMIT 10
"""
pd.read_sql(query, engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,...,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,...,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,...,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,...,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,...,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0
5,5,2,2025-01-01 00:48:24,2025-01-01 01:08:26,2.0,2.63,1.0,N,239,68,...,19.1,1.0,0.5,0.00,0.0,1.0,24.10,2.5,0.0,0.0
6,6,1,2025-01-01 00:14:47,2025-01-01 00:16:15,0.0,0.40,1.0,N,170,170,...,4.4,3.5,0.5,2.35,0.0,1.0,11.75,2.5,0.0,0.0
7,7,1,2025-01-01 00:39:27,2025-01-01 00:51:51,0.0,1.60,1.0,N,234,148,...,12.1,3.5,0.5,2.00,0.0,1.0,19.10,2.5,0.0,0.0
8,8,1,2025-01-01 00:53:43,2025-01-01 01:13:23,0.0,2.80,1.0,N,148,170,...,19.1,3.5,0.5,3.00,0.0,1.0,27.10,2.5,0.0,0.0
9,9,2,2025-01-01 00:00:02,2025-01-01 00:09:36,1.0,1.71,1.0,N,237,262,...,11.4,1.0,0.5,0.00,0.0,1.0,16.40,2.5,0.0,0.0

In [13]:
print(pd.io.sql.get_schema(taxi_data, name = "yellow_taxi_data", con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [ ]:
# to add the column names to the local database 
taxi_data.head(n=0).to_sql(name = "yellow_taxi_data", con = engine, if_exists = "replace")


# to add other data to the local database 
# taxi_data.to_sql(name = "yellow_taxi_data", con = engine, if_exists = "append")

In [ ]:
# to add other data to the local database

for chunk in taxi_df.to_batches(batch_size=100000):
    df_chunk = chunk.to_pandas()
    # Process df_chunk
    t_start = time()

    df_chunk.to_sql(name = "yellow_taxi_data", con = engine, if_exists = "append")
    
    t_end = time()
    
    print("inserted another chunck..., took %.3f second"% (t_end - t_start))