In [1]:
import pandas as pd
import pyarrow.dataset as ds

In [ ]:
from sqlalchemy import create_engine
from time import time

In [2]:
# pd.__version__
# pip install fastparquet
# pip install psycopg2
# pip install --upgrade pyarrow pandas
# pip install sqlalchemy --upgrade

In [ ]:
#  reading the parquet file using pandas

taxi_data = pd.read_parquet("yellow_tripdata_2025-01.parquet", engine='fastparquet')
taxi_data.head()

In [ ]:
# using pyarrow.dataset to read the parquet file, cos of the iterations
# later code later converted this to pandas

taxi_df = ds.dataset("yellow_tripdata_2025-01.parquet", format="parquet")

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [22]:
print(pd.io.sql.get_schema(taxi_data, name = "yellow_taxi_data", con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [23]:
# df_iter = pd.read_parquet("yellow_tripdata_2025-01.parquet", engine='fastparquet', iterator = True, chunksize = 100000)

# df = next(df_iter)

In [27]:
taxi_data.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, Airport_fee, cbd_congestion_fee]
Index: []

In [26]:
# to add the column names to the local database 
taxi_data.head(n=0).to_sql(name = "yellow_taxi_data", con = engine, if_exists = "replace")

0

In [ ]:
# to add other data to the local database

for chunk in taxi_df.to_batches(batch_size=100000):
    df_chunk = chunk.to_pandas()
    # Process df_chunk
    t_start = time()

    df_chunk.to_sql(name = "yellow_taxi_data", con = engine, if_exists = "append")
    
    t_end = time()
    
    print("inserted another chunck..., took %.3f second"% (t_end - t_start))

inserted another chunck..., took 44.464 second
inserted another chunck..., took 54.823 second
inserted another chunck..., took 53.330 second
inserted another chunck..., took 59.932 second
inserted another chunck..., took 53.904 second
inserted another chunck..., took 48.951 second
inserted another chunck..., took 49.581 second